includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    level: 5

    # অপ্রয়োজনীয় ইগনোর এরর ওয়ার্নিং বন্ধ করতে এটি যোগ করুন
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql#'

    excludePaths:
        - ./routes/console.php